{% extends "weatherapp/base.html" %}

{% block content %}
    <h1>Weather report</h1>
    <h2>Now</h2>
    <h3>{{ city }}</h3>
    <p>Weather: {{ weather.0.description }}<br>
        Temperature: {{ main.temp }} °C <br>
        Humidity: {{ main.humidity }}%</p>

    <h2>Forecast</h2>
   <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature</th>
                <th>Weather</th>
                <th>Precipitation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
    <td>{{ date_list.0 }}</td>
    <td>{{ temp_list.0 }} °C</td>
    <td>{{ weather_list.0 }}</td>
    <td>{{ rain_list.0 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.1 }}</td>
    <td>{{ temp_list.1 }} °C</td>
    <td>{{ weather_list.1 }}</td>
    <td>{{ rain_list.1 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.2 }}</td>
    <td>{{ temp_list.2 }} °C</td>
    <td>{{ weather_list.2 }}</td>
    <td>{{ rain_list.2 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.3 }}</td>
    <td>{{ temp_list.3 }} °C</td>
    <td>{{ weather_list.3 }}</td>
    <td>{{ rain_list.3 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.4 }}</td>
    <td>{{ temp_list.4 }} °C</td>
    <td>{{ weather_list.4 }}</td>
    <td>{{ rain_list.4 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.5 }}</td>
    <td>{{ temp_list.5 }} °C</td>
    <td>{{ weather_list.5 }}</td>
    <td>{{ rain_list.5 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.6 }}</td>
    <td>{{ temp_list.6 }} °C</td>
    <td>{{ weather_list.6 }}</td>
    <td>{{ rain_list.6 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.7 }}</td>
    <td>{{ temp_list.7 }} °C</td>
    <td>{{ weather_list.7 }}</td>
    <td>{{ rain_list.7 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.8 }}</td>
    <td>{{ temp_list.8 }} °C</td>
    <td>{{ weather_list.8 }}</td>
    <td>{{ rain_list.8 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.9 }}</td>
    <td>{{ temp_list.9 }} °C</td>
    <td>{{ weather_list.9 }}</td>
    <td>{{ rain_list.9 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.10 }}</td>
    <td>{{ temp_list.10 }} °C</td>
    <td>{{ weather_list.10 }}</td>
    <td>{{ rain_list.10 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.11 }}</td>
    <td>{{ temp_list.11 }} °C</td>
    <td>{{ weather_list.11 }}</td>
    <td>{{ rain_list.11 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.12 }}</td>
    <td>{{ temp_list.12 }} °C</td>
    <td>{{ weather_list.12 }}</td>
    <td>{{ rain_list.12 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.13 }}</td>
    <td>{{ temp_list.13 }} °C</td>
    <td>{{ weather_list.13 }}</td>
    <td>{{ rain_list.13 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.14 }}</td>
    <td>{{ temp_list.14 }} °C</td>
    <td>{{ weather_list.14 }}</td>
    <td>{{ rain_list.14 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.15 }}</td>
    <td>{{ temp_list.15 }} °C</td>
    <td>{{ weather_list.15 }}</td>
    <td>{{ rain_list.15 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.16 }}</td>
    <td>{{ temp_list.16 }} °C</td>
    <td>{{ weather_list.16 }}</td>
    <td>{{ rain_list.16 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.17 }}</td>
    <td>{{ temp_list.17 }} °C</td>
    <td>{{ weather_list.17 }}</td>
    <td>{{ rain_list.17 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.18 }}</td>
    <td>{{ temp_list.18 }} °C</td>
    <td>{{ weather_list.18 }}</td>
    <td>{{ rain_list.18 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.19 }}</td>
    <td>{{ temp_list.19 }} °C</td>
    <td>{{ weather_list.19 }}</td>
    <td>{{ rain_list.19 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.20 }}</td>
    <td>{{ temp_list.20 }} °C</td>
    <td>{{ weather_list.20 }}</td>
    <td>{{ rain_list.20 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.21 }}</td>
    <td>{{ temp_list.21 }} °C</td>
    <td>{{ weather_list.21 }}</td>
    <td>{{ rain_list.21 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.22 }}</td>
    <td>{{ temp_list.22 }} °C</td>
    <td>{{ weather_list.22 }}</td>
    <td>{{ rain_list.22 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.23 }}</td>
    <td>{{ temp_list.23 }} °C</td>
    <td>{{ weather_list.23 }}</td>
    <td>{{ rain_list.23 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.24 }}</td>
    <td>{{ temp_list.24 }} °C</td>
    <td>{{ weather_list.24 }}</td>
    <td>{{ rain_list.24 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.25 }}</td>
    <td>{{ temp_list.25 }} °C</td>
    <td>{{ weather_list.25 }}</td>
    <td>{{ rain_list.25 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.26 }}</td>
    <td>{{ temp_list.26 }} °C</td>
    <td>{{ weather_list.26 }}</td>
    <td>{{ rain_list.26 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.27 }}</td>
    <td>{{ temp_list.27 }} °C</td>
    <td>{{ weather_list.27 }}</td>
    <td>{{ rain_list.27 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.28 }}</td>
    <td>{{ temp_list.28 }} °C</td>
    <td>{{ weather_list.28 }}</td>
    <td>{{ rain_list.28 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.29 }}</td>
    <td>{{ temp_list.29 }} °C</td>
    <td>{{ weather_list.29 }}</td>
    <td>{{ rain_list.29 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.30 }}</td>
    <td>{{ temp_list.30 }} °C</td>
    <td>{{ weather_list.30 }}</td>
    <td>{{ rain_list.30 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.31 }}</td>
    <td>{{ temp_list.31 }} °C</td>
    <td>{{ weather_list.31 }}</td>
    <td>{{ rain_list.31 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.32 }}</td>
    <td>{{ temp_list.32 }} °C</td>
    <td>{{ weather_list.32 }}</td>
    <td>{{ rain_list.32 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.33 }}</td>
    <td>{{ temp_list.33 }} °C</td>
    <td>{{ weather_list.33 }}</td>
    <td>{{ rain_list.33 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.34 }}</td>
    <td>{{ temp_list.34 }} °C</td>
    <td>{{ weather_list.34 }}</td>
    <td>{{ rain_list.34 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.35 }}</td>
    <td>{{ temp_list.35 }} °C</td>
    <td>{{ weather_list.35 }}</td>
    <td>{{ rain_list.35 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.36 }}</td>
    <td>{{ temp_list.36 }} °C</td>
    <td>{{ weather_list.36 }}</td>
    <td>{{ rain_list.36 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.37 }}</td>
    <td>{{ temp_list.37 }} °C</td>
    <td>{{ weather_list.37 }}</td>
    <td>{{ rain_list.37 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.38 }}</td>
    <td>{{ temp_list.38 }} °C</td>
    <td>{{ weather_list.38 }}</td>
    <td>{{ rain_list.38 }} mm</td>
</tr>
<tr>
    <td>{{ date_list.39 }}</td>
    <td>{{ temp_list.39 }} °C</td>
    <td>{{ weather_list.39 }}</td>
    <td>{{ rain_list.39 }} mm</td>
</tr>
        </tbody>
    </table>

    <p>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Suchen</button>
        </form>
    </p>
{% endblock %}
