{% extends "weatherapp/base.html" %}

{% block content %}
    <h1>Weather report</h1>
    <h2>Now</h2>
    <h3>{{ city }}</h3>
    <p>Weather: {{ weather.0.description }}<br>
        Temperature: {{ main.temp }} °C <br>
        Humidity: {{ main.humidity }}%</p>

    <h2>Forecast</h2>
   <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature</th>
                <th>Weather</th>
                <th>Precipitation</th>
            </tr>
        </thead>
        <tbody>
            {% for item1 in forecast %}
            <tr>
                {% for item2 in item1 %}
                <td>{{item2}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Suchen</button>
        </form>
    </p>
{% endblock %}
