*{
    font-family: Arial;
}

body{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
}

.messages {
    position: fixed;
    top: 0;
    padding: 15px;
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid transparent;
    border-radius: 8px;
    z-index: 10000;
}

.messages li {
    list-style: none;
    margin: 5px 0;
}
